streamlit
openai
python-dotenv
markdown
weasyprint
streamlit 
python-docx 
streamlit-tags 
PyPDF2 
openai
python-dotenv
markdown
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl

